@use './../common/mixins.scss' as *;
@use './../common/variables.scss' as *;

.Falcon-9-2 {
    padding-top: $spacing-section-1;
    padding-bottom: $spacing-section-2;

    .slider {
        &__slide {
            &__picture {
                height: 50vh;

                background-image: url('./../img/falcon-9-overview-2.webp');
                background-position: center;
                background-size: cover;
            }

            &__content {
                border: 1px solid red;

                &__heading {
                    text-transform: uppercase;
                    font-size: $text-large;
                    font-weight: normal;
                }

                &__subheading {
                    text-transform: uppercase;
                    font-size: $heading-medium;
                }

                &__info {
                    &__item {
                        display: flex;
                        justify-content: space-between;

                        &__name {
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        &__value {
                        }
                    }
                }
            }
        }
    }
}
