@use './../common/mixins.scss' as *;
@use './../common/variables.scss' as *;

.Falcon {
    background-image: url('./../img/falcon-9-2.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('./../img/falcon-9-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: $spacing-section;
    padding-bottom: $spacing-section * 5;

    & .heading {
        @include heading;
    }

    & .subheading {
        text-transform: uppercase;
        text-align: center;
        font-size: $heading-small;
        color: $color-primary-xlight;
    }

    & .stats {
        height: 150px;
        background-color: hsla(205, 100%, 28%, 0.5);
        border-radius: 0.3rem;
        box-shadow: 0 0 7px $color-white;

        margin-top: 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__item {
            text-align: center;
            text-transform: uppercase;

            &__counter {
                font-size: $heading-big;
            }

            &__text {}
        }
    }

    & .description {
        font-size: $text-xlarge;
        color: $color-white;
        margin-top: 3rem;
        text-shadow: 1.5px 0px $color-grey-dark;
    }
}

@media only screen and (max-height: $mq-small) and (orientation: landscape) {
    .Falcon {
        & .stats {
            width: 90%;
            margin-inline: auto;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: $mq-medium) {
    .Falcon {
        & .stats {
            width: 90%;
            margin-inline: auto;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: $mq-big) {
    .Falcon {
        height: 100vh;

        & .subheading {
            font-size: $heading-medium;
        }

        & .stats {
            width: 50%;
            height: 200px;
        }

        & .description {
            margin-top: 6rem;
            width: 85%;
            text-align: center;
            margin-inline: auto;
        }
    }
}