@use './../common/mixins.scss' as *;
@use './../common/variables.scss' as *;

.Header {
    height: 100vh;
    background-image: url('./../img/header_background_mobile.jpg');
    background-size: cover;
    background-position: -110px center;
    color: $color-white;

    position: relative;

    & .content {
        padding: 1rem;

        width: 90%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0 0.5rem 0.5rem 0;

        position: absolute;
        top: 16rem;

        box-shadow: 0 0 7px 0 $color-white;

        animation: showContentMobile 1s ease-out;

        &__subheading {
            text-transform: uppercase;
            font-size: $text-big;
        }

        &__heading {
            text-transform: uppercase;
            font-size: $heading-big;
            color: $color-primary-light;
            text-shadow: 0 0 10px $color-primary;
        }

        &__caption {
            font-size: $text-big;
        }

        &__cta {
            @include button;
            margin-top: 1rem;
        }
    }

    & .iconArrowDown {
        position: absolute;
        bottom: 3rem;

        left: 50%;
        transform: translateX(-50%);
        animation: moveArrow 2s linear infinite;

        &__image {
            font-size: $heading-medium;
        }
    }
}

@keyframes moveArrow {
    0% {
        transform: translate(-50%, 1rem);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
}

@keyframes showContentMobile {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes showContentDesktop {
    0% {
        transform: translateX(-100%) translateY(-50%);
    }

    100% {
        transform: translateX(0) translateY(-50%);
    }
}

@media only screen and (max-height: $mq-xsmall-height) {
    .Header {
        & .content {
            top: 13rem;
        }
    }
}

@media only screen and (max-height: $mq-small) and (orientation: landscape) {
    .Header {
        background-position: center bottom;
        height: 100vh;

        & .content {
            width: 70%;
            top: 5rem;

            &__cta {
                margin-top: 2rem;
            }
        }
    }
}

@media only screen and (min-width: $mq-medium) {
    .Header {
        & .content {
            width: 60%;
            padding: 1.5rem;

            top: 17rem;

            &__heading {
                font-size: $heading-large;
            }

            &__cta {
                margin-top: 2rem;
            }
        }
    }
}

@media only screen and (min-width: $mq-big) {
    .Header {
        background-image: url('./../img/header_background.webp');
        background-position: center;

        & .content {
            width: 45%;
            top: 50%;
            transform: translateY(-50%);

            padding: 2rem;

            &__subheading {
                font-size: $heading-small
            }

            &__heading {
                font-size: $heading-xlarge;
            }

            &__caption {
                font-size: $text-big + 0.1rem;
            }

            &__cta {
                margin-top: 3rem;
            }

            animation: showContentDesktop 1s ease-out;
        }

        & .iconArrowDown {
            cursor: pointer;
            bottom: 4rem;

            &:hover {
                animation-play-state: paused;
            }

            &__image {
                font-size: $heading-big;
            }
        }
    }
}