$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey-light: hsl(210, 7%, 58%);
$color-grey-dark: hsl(0, 0%, 15%);

$color-primary-xlight: hsl(206, 100%, 87%);
$color-primary-light: hsl(205, 68%, 70%);
$color-primary: hsl(205, 100%, 28%);
$color-primary-dark: hsl(205, 100%, 17%);

$heading-xlarge: 4rem;
$heading-large: 3.6rem;
$heading-big: 2.7rem;
$heading-medium: 2.1rem;
$heading-small: 1.5rem;

$text-xlarge: 1.4rem;
$text-large: 1.2rem;
$text-big: 1.1rem;
$text-medium: 1rem;
$text-small: 0.8rem;

$mq-xlarge: 1800px;
$mq-large: 1440px;
$mq-big: 1024px;
$mq-medium: 768px;
$mq-small: 576px;

$mq-xsmall-height: 640px;

$spacing-section: 1rem;